/* WhatsAppFloat.css */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  text-align: center;

}

.whatsapp-link {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #25D366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.whatsapp-link:hover {
  transform: scale(1.1), translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  animation-play-state: running; /* Pause on hover */
}

.whatsapp-icon {
  width: 35px;
  height: 35px;
}

/* Pulse Animation
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
  }
} */